canvas {
    border: 1px solid black;
    display: block;
    margin: 0 auto;
  }
  h1, p {
    text-align: center;
    color: hotpink;
  }

  button {
    margin: 2rem auto;
    background: #191919;
    color: #fff;
    border: none;
    font-size: 2.25rem;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
  }